text{
    font-family: "Monokai",monospace;
    font-weight: bold;
}

.dataType{
    color: cyan;
    font-style: italic;
}
.identifier{
    color:black;
}
.operator{
    color: red;
}
.number{
    color: violet;
}
.comment{
    color:gray
}
.keyword,.function_keyword,.variable_keyword,.cicle_keyword{
    color:red;
}
.left_parenthesis,
.right_parenthesis{
    color: slateblue;
}
.left_brace,
.right_brace{
    color: orange;
}
.separator,.semicolon{
    color:brown
}
