text{
    font-family: "Monokai",monospace;
    font-weight: bold;
}

.dataType{
    color: cyan;
    font-style: italic;
}
.identifier{
    color:black;
}
.operator{
    color: rgb(139, 9, 9);
}
.number{
    color: violet;
}
.comment{
    color:gray
}
.keyword,.function_keyword,.variable_keyword,.for_keyword,.while_keyword, .return_keyword{
    color:rgb(85, 0, 255);
}
.left_parenthesis,
.right_parenthesis{
    color: slateblue;
}
.left_brace,
.right_brace{
    color: orange;
}
.separator,.semicolon{
    color:brown
}
.error{
    color: red;
    font-weight: bold;
    text-decoration: underline;

}
